<mat-toolbar color="primary" class="main-toolbar">

        <div class="core">
    
          <span fxFlex></span>
          <button mat-menu-item [routerLink]="['/medico']" routerLinkActive="router-link-active" >Médico</button>
          <button mat-menu-item [routerLink]="['/cadastro']" routerLinkActive="router-link-active" >Cadastro</button>
          <button mat-menu-item [routerLink]="['/paciente']" routerLinkActive="router-link-active"  >Paciente</button>
          <button mat-menu-item [routerLink]="['/usuario']" routerLinkActive="router-link-active"  >Usuário</button>
          <button mat-menu-item>sign out</button>
          <span fxFlex></span>
          
        </div>
    
</mat-toolbar>


          